
.title-div{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.manual{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 1em;
    font-size: 1.2em;
}

.manual-par {
    font-size: 1.2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    color: #272838;
}

.manual-div {
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.hall-info-container {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    flex-direction: 'row';
    flex-wrap: wrap;
    width: 100%;
}

.hall-title {
    font-size: 1.3em   
}

.blu-hall {
    /* border: solid 4px rgba(31, 21, 182,0.9); */
    background:rgb(18, 11, 120);
    color: rgba(206, 221, 252, 1);
}
.red-hall {
    /* border: solid 4px rgba(220,20,60,1); */
    background:rgb(178,34,34);
    color: rgb(252, 200, 208);
}
.bro-hall {
    /* border: solid 4px rgba(139, 93, 93, 1); */
    background:rgba(109, 57, 57, 1); 
    color: rgba(255,  236, 236, 1);
}
.gre-hall {
    /* border: solid 4px rgba(33, 100, 19, 1); */
    background:rgba(19, 55, 11, 0.9);
    color: rgba(216, 255, 206, 1); 
}
.vio-hall {
    /* border: solid 4px rgb(107, 90, 241); */
    background:rgba(108, 92, 231, 0.9); 
    color: rgba(255,  245,  255, 1);
}
